@import url(./styles/reset.css);
@import url(./styles/font-icons.css);
@import url(./styles/controls.css);

:root {
  --black: #000;
  --white: #f8f4ea;
  --grey: #ccc;
  --progress-init: #ff8a00;
  --progress-end: #e52e71;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player {
  width: 80%;
  position: relative;
}

.video {
  width: 100%;
  object-fit: cover;
}

.hidden {
  display: none;
}
